
.DS_Store
.DS_Store
.DS_Store
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
out/production/ProjetoPOAO/.idea/misc.xml
out/production/ProjetoPOAO/.idea/modules.xml
out/production/ProjetoPOAO/.idea/ProjetoPOAO.iml
out/production/ProjetoPOAO/.idea/vcs.xml
out/production/ProjetoPOAO/POOFS.class
.idea/ProjetoPOAO.iml
.idea/misc.xml
